.option-item {
  border: 3px solid white;
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease-in-out;

  &.blink {
    background-color: gray;
  }

  &.dark {
    color: white;
    border: 3px solid black;
  }

  &.img-stone {
    background-size: contain;
    background-image: url('~@/assets/images/stone.png')
  }

  &.img-paper {
    background-size: contain;
    background-image: url('~@/assets/images/paper.png')
  }

  &.img-scissor {
    background-size: contain;
    background-image: url('~@/assets/images/scissor.png')
  }
}